@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Quantico);
@import url(https://fonts.googleapis.com/css?family=VT323);

/*body {
  background-image: url('studio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}*/


body {
  background-color: black;
}

/* Video Styles */
.background-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.background-div-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header {
  color: white;
  font-family: permanent marker;
  color: black;
}

.header h1 {
  font-size: 120px;
  text-align: center;
}

.main {
  margin-top: -11em;
}

.logo{
  color: red;
  display:inline-block;
  float:left;
}

.display{
  background-color: yellow;
  opacity: .8;
  float: right;
  height: 12%;
  margin-right: 10px;
  font-family: Quantico;
  font-size: 30px;
  text-align: center;
  padding-top: 2.5%;
}

.pads {
  height: 25%;
  background-color: grey;
  border: solid thin;
  padding: 5px;
  margin: 5px 5px 15px 5px;
  border-radius: 5px;
  float: right;
}

.new-game {
  margin: 10px 55px;
}

.new-game-button {
  background-color: gray;
  height:120px;
  width: 120px;
  border-radius: 50px 50px;
}

.more-buttons {
  float: right;
  margin-top: 30px 60px;
}

.more-buttons-button {
  height: 30px;
  width: 60px;
}

.mpc-body {
  margin-top: 14%;
  background-color: #2d343a;
  border: solid grey;
  margin-left: 15%;
}
