body {
  background-image: url('studio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  color: red;
  display:inline-block;
  float:left;
}

.display{
  background-color: yellow;
  opacity: .8;
  float: right;
  height: 12%;
  margin-right: 10px
}

.pads {
  height: 25%;
  background-color: grey;
  border: solid thin;
  padding: 5px;
  margin: 5px 5px 15px 5px;
  border-radius: 5px;
  float: right;
}

.mpc-body {
  margin-top: 20%;
  background-color: black;
  border: solid grey;
  margin-left: 15%;
}
